In [1]:
import os
import glob
import datetime
import pandas as pd

In [2]:
dir = r'../../datasets/daily'

def list_files(dir):
    csv_files = glob.glob(os.path.join(dir, "*.csv"))
    return csv_files

In [3]:
def get_dataframes(csv_files):
    df = pd.DataFrame()
    for f in csv_files:
        df_tmp = pd.read_csv(f)
        df = df.append(df_tmp)

    return df

In [4]:
csv_files = list_files(dir)
df = get_dataframes(csv_files)
df.head()

/tmp/ipykernel_8515/2999611592.py:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(df_tmp)
/tmp/ipykernel_8515/2999611592.py:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(df_tmp)
/tmp/ipykernel_8515/2999611592.py:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(df_tmp)
/tmp/ipykernel_8515/2999611592.py:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(df_tmp)

,id_group,id_subject,key,datapoint1,datapoint2,datapoint3,datapoint4,datapoint5,datapoint6,datapoint7,...,datapoint133,datapoint134,datapoint135,datapoint136,datapoint137,datapoint138,datapoint139,datapoint140,target,target_cat
0,e14e3d1c-74e3-4065-a3ea-001148759f11,24a3b8f5-3f29-4034-95ae-d15a6bac9b5f,Arthur Henrique Goncalves da Silva (18205796),0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0.0,1
1,e14e3d1c-74e3-4065-a3ea-001148759f11,a01cb8b7-921b-489d-a0a7-28b4e5997d95,Gabriel da Silva Fonseca (18207614),8,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0.0,1
2,e14e3d1c-74e3-4065-a3ea-001148759f11,bbccd0ae-3ded-4422-ae1b-810b10daa4e0,Natalia Bortoli Vieira (17203199),0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0.0,1
3,e14e3d1c-74e3-4065-a3ea-001148759f11,9c6d0de6-12aa-43ef-9dc9-556789c367fb,William Sebastiao Teixeira (18205797),0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0.0,1
0,cf2148b5-3b86-4c16-acda-2cad5fef8a63,af96f03b-fd7d-4143-b796-df3b11e8057c,Erica de Souza Pires (19103473),4,0,0,0,0,0,0,...,0,0,0,0,0,0,0,3,0.0,1

In [5]:
df.reset_index(drop=True, inplace=True)
df

,id_group,id_subject,key,datapoint1,datapoint2,datapoint3,datapoint4,datapoint5,datapoint6,datapoint7,...,datapoint133,datapoint134,datapoint135,datapoint136,datapoint137,datapoint138,datapoint139,datapoint140,target,target_cat
0,e14e3d1c-74e3-4065-a3ea-001148759f11,24a3b8f5-3f29-4034-95ae-d15a6bac9b5f,Arthur Henrique Goncalves da Silva (18205796),0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0.0,1
1,e14e3d1c-74e3-4065-a3ea-001148759f11,a01cb8b7-921b-489d-a0a7-28b4e5997d95,Gabriel da Silva Fonseca (18207614),8,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0.0,1
2,e14e3d1c-74e3-4065-a3ea-001148759f11,bbccd0ae-3ded-4422-ae1b-810b10daa4e0,Natalia Bortoli Vieira (17203199),0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0.0,1
3,e14e3d1c-74e3-4065-a3ea-001148759f11,9c6d0de6-12aa-43ef-9dc9-556789c367fb,William Sebastiao Teixeira (18205797),0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0.0,1
4,cf2148b5-3b86-4c16-acda-2cad5fef8a63,af96f03b-fd7d-4143-b796-df3b11e8057c,Erica de Souza Pires (19103473),4,0,0,0,0,0,0,...,0,0,0,0,0,0,0,3,0.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98,4de4acc8-5a54-4213-b4b1-29fe65c68374,cda5eda8-9f37-4bca-aca2-8f3e8d7250ab,Luiz Felipe Sartor GÃ³es (18102079),0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0.0,1
99,4de4acc8-5a54-4213-b4b1-29fe65c68374,fff22ecd-eaa2-4f7f-a851-c51fc09478fd,Luiza Carolina Miranda Garcia (19207037),1,0,0,0,2,1,0,...,2,17,0,0,0,0,0,0,9.0,0
100,4de4acc8-5a54-4213-b4b1-29fe65c68374,7980eafb-7621-4c3c-a73b-d9c2fa1a3df5,Marco Antonio Accorsi Lisboa Filho (18204422),0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0.0,1
101,4de4acc8-5a54-4213-b4b1-29fe65c68374,5e7bbbbd-36f8-418a-86f6-2ab3d40a259d,Mateus Scheffer Freitas (21101353),2,6,0,0,0,0,0,...,0,1,9,0,5,0,0,5,10.0,0
102,4de4acc8-5a54-4213-b4b1-29fe65c68374,f31c98bb-c983-45a2-a0f1-08c364c1675c,Ruan Pierre Idalino da Rosa (21100704),1,1,4,0,0,0,0,...,0,0,2,0,0,0,0,0,8.0,0

In [6]:
row = list(df)
size = len(row)

df_sum_zeros = df.loc[:, row[3]:row[size-3]].apply(lambda row: row.tolist().count(0), axis=1).reset_index()
df_sum_zeros.rename(columns={0:"sum_zeros"}, inplace=True)

df_sum_zeros

     index  sum_zeros
0        0        140
1        1        135
2        2        140
3        3        140
4        4        137
..     ...        ...
98      98        137
99      99         89
100    100        139
101    101         87
102    102        119

[103 rows x 2 columns]

In [7]:
df_sum_zeros["target"] = df["target"]
df_sum_zeros["target_cat"] = df["target_cat"]
df_sum_zeros

     index  sum_zeros  target  target_cat
0        0        140     0.0           1
1        1        135     0.0           1
2        2        140     0.0           1
3        3        140     0.0           1
4        4        137     0.0           1
..     ...        ...     ...         ...
98      98        137     0.0           1
99      99         89     9.0           0
100    100        139     0.0           1
101    101         87    10.0           0
102    102        119     8.0           0

[103 rows x 4 columns]

In [8]:
today_ts = datetime.datetime.now()
today_ts = today_ts.strftime("%d-%m-%Y-%H-%M")

df_sum_zeros.to_csv("../preprocessing-results/p2.csv".format(today_ts), sep=',', encoding='utf-8', index=False)